.document-view {
  box-shadow: inset 10px 10px 32px -12px rgba(0,0,0,0.4);
  font-family: monospace;
  font-size: 18px;
  background: white;
  cursor: text;
  user-select: none;
  border: 1px solid black;
}

.document-view__line-number {
  width: 32px;
  border-right: 2px solid black;
  background: rgba(0, 0, 0, 0.4);
  text-align: right;
  padding: 4px;
  margin-right: 8px;
  font-family: monospace;
  cursor: default;
}

.document-view__row {
  display: flex;
  line-height: 1.5;
  flex-wrap: wrap;
}
.document-view__row--highlight {
  background: rgba(0, 255, 255, 0.2);
}

.document-view__column {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid transparent;
}

.document-view__cursor {
  box-sizing: border-box;
  border-left: 1px solid black;
  animation: 1s blink-cursor step-end infinite;
}

@keyframes "blink-cursor" {
  from, to {
    border-left-color: black;
  }
  50% {
    border-left-color: transparent;
  }
}